<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white">Featured</h2>
                <p class="text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat facere corrupti eos? Ipsam, doloribus eaque. Impedit assumenda quasi repellat, quos omnis, odio beatae dicta tempore provident placeat commodi vero? Ab!</p>
            
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <app-post-card> </app-post-card>
                </div>
                <div class="col-lg-3">
                    <app-post-card> </app-post-card>
                </div>
                <div class="col-lg-3">
                    <app-post-card> </app-post-card>
                </div>
                <div class="col-lg-3">
                    <app-post-card> </app-post-card>
                </div>

            </div>

        </div>
    </div>

</section>