<div class="card shadow-effect">
    
    <img src="https://images.pexels.com/photos/13433389/pexels-photo-13433389.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" 
    alt="post-image" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-success text-center ml-3"> Featured </small>
        <small class="bg-light text-info text-center ml-3">Views -100,256 </small>

        <h5 class="mt-1">BEST COUNTRIES TO VISIT 2024</h5>
        <P>creating wireframes and low-fidelity prototypes, I aim to develop a keen eye for usability, accessibility, and aesthetics in digital products. </P>
        
        <small class="bg-light text-warning text-center ml-3">Last Updated - Apr 20 ,2024 </small>
    </div>


</div>