.card {
    background-color: var(--secondary-color);  
    border: none;
    width: 1200px;
   
   
}

input[type = text] , input[type = email]{
    height: 60px;
    padding-left: 20px;
    font-size: 13px;
    width: 100%;
}

.btn-sub{
    height: 58px;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.sub-text {
    width: 500px;
    border: none;
    font-size: 13px;
    background-color: var(--body-text-color);
}
h3 ,p {
    color: var(--body-text-color); /* Change the color to your desired color */
}