.card {
    background-color: var(--secondary-color);  
    border: none;
    width: 1300px;
    justify-content: center;
}

input[type = text] , input[type = email]{
    
    width: 100%;
}


.sub-text {
    width: 500px;
    border: none;
    font-size: 13px;
    background-color: var(--body-text-color);
}
h3 ,p {
    color: var(--body-text-color); /* Change the color to your desired color */
}

